* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar-toggle {
    cursor: pointer;
    margin-right: 120px;
    margin-block: auto;
}

.bar {
    display: flex;
    width: 22px;
    height: 2px;
    background-color: #807c7c;
    margin: 5px 0;
}
.logo{
    margin-left: 100px;
}


#slider{
    width: 88%;
    height: 70vh;
    background-image: url('https://i.ibb.co/MyTYwGy/stock-market-background-hc6p0ln57y4sjujx.jpg');
    background-repeat: no-repeat;
    margin-left: 80px;
  
}

.slider-btn {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    cursor: pointer;
    color: gray;
}

.blue {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #244ac2;
    height: 60px;
    width: 400px;
    font-size: 16px;
}

.black {
    position: absolute;
    top: 50%;
    z-index: 1;
    right: 2px;
    transform: translateY(-50%);
    background: #000000;
    height: 60px;
    width: 82px;
}

.blue p{
    text-align: center;
    color: #FFFFFF;
    margin-top: 19px;
    font-weight: 600;
}


.next-btn {
    right: 120px;
    font-weight: lighter;
}
.phase2{
    display: flex;
    margin-top: 55px;
    margin-left: 110px;
    margin-right: 80px;
    
}
.phase2,p{
    font-family: 'Open Sans', sans-serif;
}
.pic{
    margin-left: 400px;
    
    
}

.phase3{
    margin-inline: 100px;
    margin-top: 40px;
    display: flex;
    color: white;
    text-align: start;
      
    
    
}
.visio{
    background-color: #061c2c;
    width: 360px;
    height: 200px;
    
}
.visio2{
    background-color: #061c2c;
    width: 360px;
    height: 200px;
    margin-left: 20px;
}
.visio3{
    background-color: #061c2c;
    width: 360px;
    height: 200px;
    margin-left: 20px;
}
span{
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    text-align: left;
    line-height: 33px;
    margin-left: 20px;
    font-weight: bold;
    

}
img{
    height: 60px;
    margin-top: 30px;
}

.one{
    background-color: #244ac2;
    width: 180px;
    height: 25px;
    margin-right: 10px;
}
.two{
    background-color: #244ac2;
    width: 180px;
    height: 25px;
    margin-right: 10px;
}

.three{
    background-color: #244ac2;
    width: 240px;
    height: 25px;
    margin-right: 10px;
}

.four{
    background-color: #244ac2;
    width: 180px;
    height: 25px;
    margin-right: 10px;
}

.five{
    background-color: #244ac2;
    width: 200px;
    height: 25px;
    margin-right: 10px;
}

.six{
    background-color: #244ac2;
    width: 200px;
    height: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.phase4{
    display: flex;
    margin-top: 30px;
    margin-inline: 80px;
    justify-content: space-around;
    
}